<h1 id="tableLabel">Something Random</h1>

<p>Generate random data.</p>

<p *ngIf="!this.somethingElseService"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="this.somethingElseService.somethingelses" width="50%">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let somethingelse of this.somethingElseService.somethingelses">
      <td>{{ somethingelse.name }}</td>
      <td>
        <button class="btn btn-primary" (click)="this.somethingElseService.deleteSomethingElse(somethingelse.id)">
          Delete
        </button>
      </td>
      <td>
        <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="somethingelse.somethings" width="50%">
          <thead>
            <tr>
              <th>Other Name(s)</th>
              <th>Tag: <input type="text" [(ngModel)]="somethingelse.tag">
                <button class="btn btn-primary" (click)="this.somethingElseService.updateSomethingElseTag(somethingelse.id,somethingelse.tag)">
                  Update
                  </button>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let something of somethingelse.somethings">
              <td>{{ something.name }}</td>
              <td>
                <button class="btn btn-primary" (click)="this.somethingElseService.deleteSomething(somethingelse.id,something.id)">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-primary" (click)="this.somethingElseService.addSomething(somethingelse.id)">
          Add to Other Names
        </button>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-primary" (click)="this.somethingElseService.addSomethingElse()">
    Add Something
</button>
